{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vee's Blog</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>

   
    <header class="w-full bg-orange-300 flex items-center justify-between text-white p-5">
      <h1 class="text-4xl logo font-bold"><a href="/">Vee's Blog</a></h1>
      <div>
        <a class="flex p-2 border border-white rounded-md" href="{% url 'post_new' %}">{% include './icons/add-file-svgrepo-com.svg' %} <span class="ml-2">Add Post</span></a>
      </div>
    </header>
    
    {%block content%}
    {%endblock%}
    
  </body>
</html>
