{% extends 'blog/base.html'%} {%block content%}
<div class="p-10">
    <div class="flex justify-end">
        <a class="flex bg-orange-300 p-2 rounded-md" href="{% url  'post_edit' pk=post.pk%}">
        {% include "./icons/edit-3-svgrepo-com.svg" %} <span class="ml-2">Edit Post</span>
    </a>
    </div>
    
  <article class="mt-3">
    {% if post.published_date %}
    <time class="text-gray-500 italic mb-3"
      >Published: {{post.published_date}}</time
    >
    {%endif%}
    <h2 class="text-5xl mt-4 mb-3 text-orange-300 font-bold">{{post.title}}
    </h2>
    <p class="text-justify">{{post.text|linebreaksbr}}</p>
  </article>
</div>
{%endblock%}
