@import url("https://fonts.googleapis.com/css2?family=Griffy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Comfortaa", sans-serif;
}

.logo {
  font-family: "Griffy";
}

.post-form p label {
  font-weight: 700;
}

.post-form p input,
.post-form p textarea {
  background-color: rgb(255, 245, 225);
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  color: black;
  margin-top: 10px;
}
